/*
===================================
Copyright INNCOMEDIA
===================================
*/

/* import font */
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../font/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura-Condensed';
	src: url('../font/futura-condensed.ttf') format('truetype');
}

/*=== NORMALISASI begin ===*/
/* normalisasi digunakan untuk mereset CSS, sehingga akan menyamakan tampilan di semua browser */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
    font-family: 'OpenSans-Regular', sans-serif;
    color: #2c2f34;
    font-size: 11pt;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover,
a:visited {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
             box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
                    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*=== NORMALISASI end ===*/


/*=== GLOBAL STYLE begin ===*/
.container {
    width: 1140px;
    margin: 0 auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.small-container {
    width: 940px;
    margin: 0 auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.small-container p {
    text-align: justify;
    font-size: 13pt;
    color: #404040;
}
@media (max-width: 1200px) {
    .container {
        width: 940px;
    }
}
@media (max-width: 990px) {
    .container,
    .small-container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container,
    .small-container {
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .small-container p {
        font-size: 11pt;
    }
}
main {
    padding-top: 61px;
    position: relative;
    width: 100%;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
}
main.pushed {
    transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
}
@media (min-width: 990px) {
    main {
        padding-top: 81px;
    }
    main.pushed {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}
.col-2,
.col-3,
.col-4 {
    padding: 0 10px;
    float: left;
}
.col-2 {
    width: 50%;
}
.col-4 {
    width: 25%;
}
@media (max-width: 990px) {
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 640px) {
    .col-4 {
        width: 100%;
    }
}
/*=== GLOBAL STYLE end ===*/


/*=== NAVIGASI begin ===*/
nav {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 98;
    height: 81px;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
nav.pushed {
    transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
}
@media (min-width: 990px) {
    nav.pushed {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}            
.nav-logo {
    height: 60px;
    float: left;
    transition: all 0.4s;
}
.nav-group {
    float: right;
    padding: 15px 0;
    font-size: 0pt;
    transition: padding 0.4s;
    -webkit-transition: padding 0.4s;
}
.nav-group li {
    display: inline-block;
    height: 30px;
}
.nav-group li a {
    display: block;
    line-height: 25px;
    padding: 0 10px;
    font-size: 10pt;
    position: relative;
    font-family: 'OpenSans-Regular';
}
.nav-group li.active a {
    color: #35a1ab;
}
.nav-group li a:after,
.nav-group li.active a:after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 0;
    margin: 0 auto;
    background-color: #35a1ab;
    transition: width 0.2s;
    -webkit-transition: width 0.2s;
}
.nav-group li a:hover:after,
.nav-group li.active a:after {
    width: 100%;
}
@media (max-width: 990px) {
    nav {
        height: 61px;
    }
    .nav-logo {
        height: 40px;
    }
    .nav-group {
        padding: 5px 0;
    }
}
/* push nav */
.push-nav {
    width: 240px;
    background-color: #2c2f34;
    position: fixed;
    z-index: 90;
    right: 0;
    transform: translateX(240px);
    -webkit-transform: translateX(240px);
    top: 0;
    height: 100%;
    box-shadow: 5px 0 10px rgba(0,0,0,0.3) inset;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.push-nav.pushed {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
@media (min-width: 990px) {
    .push-nav.pushed {
        transform: translateX(240px);
    }
}
.push-nav-toggle {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    display: none;
    position: relative;
}
.push-nav-toggle span {
    position: relative;
}
.push-nav-toggle span,
.push-nav-toggle span:before,
.push-nav-toggle span:after {
    cursor: pointer;
    height: 4px;
    width: 40px;
    background-color: #2c2f34;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.push-nav-toggle span {
    top: 18px;
}
.push-nav-toggle span:before {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}
.push-nav-toggle span:after {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
}
.push-nav-toggle.pushed span {
    background-color: transparent;
}
.push-nav-toggle.pushed span:before {
    transform: translateY(0px);
    transform: rotate(45deg);
    -webkit-transform: translateY(0px);
    -webkit-transform: rotate(45deg);
}
.push-nav-toggle.pushed span:after {
    transform: translateY(0px);
    transform: rotate(-45deg);
    -webkit-transform: translateY(0px);
    -webkit-transform: rotate(-45deg);
}
@media (max-width: 990px) {
    .push-nav-toggle {
        display: block;
    }
    .nav-group {
        display: none;
    }
}
.push-nav-group {
    color: #fff;
    font-size: 10pt;
    padding: 25px;
}
.push-nav .push-nav-group li {
    padding: 0 10px;
    border-left: 2px solid transparent;
    transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.push-nav.pushed .push-nav-group li {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.push-nav.pushed .push-nav-group li:nth-child(2) {
    transition-delay: 0.05s;
}
.push-nav.pushed .push-nav-group li:nth-child(3) {
    transition-delay: 0.1s;
}
.push-nav.pushed .push-nav-group li:nth-child(4) {
    transition-delay: 0.15s;
}
.push-nav.pushed .push-nav-group li:nth-child(5) {
    transition-delay: 0.2s;
}
.push-nav.pushed .push-nav-group li:nth-child(6) {
    transition-delay: 0.25s;
}
.push-nav.pushed .push-nav-group li:nth-child(7) {
    transition-delay: 0.3s;
}
.push-nav.pushed .push-nav-group li:nth-child(8) {
    transition-delay: 0.35s;
}
.push-nav-group li.active {
    border-left: 2px solid #35a1ab;
    color: #35a1ab;
}
.push-nav-group li a {
    line-height: 30px;
}
.push-nav-group li a:active {
    color: #35a1ab;
}
/*=== NAVIGASI end ===*/

/*=== START YOUR PROJECT ===*/
.start-project a {
    display: block;
}

.start-project h1 {
    text-align: center;
    line-height: 40px;
    background-color: #b5b5b5;
    font-family: 'OpenSans-Light';
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}
.start-project h1:hover {
    background-color: #00a6b6;
}
@media (max-width: 480px) {
    .start-project h1 {
        font-size: 14pt;
        line-height: 20px;
        background-color: #00a6b6;
    }
}
.start-project h1 span {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 15px;
}
/*=== START YOUR PROJECT end ===*/
/*=== GLOBAL STYLE end ===*/

/*=== HOMEPAGE page ===*/
/*=== SLIDER ===*/
.slider {
    width: 100%;
    height: 400px;
    background-color: #454753;
}
/*=== SLIDER end ===*/

/*=== about-us ===*/
.about-us {
    padding: 40px 0;
}

.about-us > p {
    text-align: justify;
    font-size: 14pt;
}

.about-us > h1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #454753;
}

#about-us-container {
    width: 1140px;
    height: 300px;
    margin: 0 auto;
}

.about-us-item {
    width: 49%;
    height: 290px;
    padding: 2%;
    float: left;
}

.about-us-item > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.about-us-item > p {
    text-align: justify;
    font-size: 12pt;
}

.about-us-menu {
    width: 49%;
    height: 290px;
    padding: 2%;
    float: left;
}

#about-us-wrap {
    width: 100%;
    max-height: 100vh;
    margin: 0 auto;
}

#about-us-submenu {
    width: 100%;
    height: 100%;
}

#about-us-submenu ul {
    list-style-type: none;
    margin: 0;
}

#about-us-submenu ul li {
    width: 20%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    float: left;
}

#menu1 {
    color: #454753;
    text-decoration: underline;
}

#menu2, #menu3, #menu4, #menu5 {
    color: #bdc3c7;
}

#about-us-submenu-isi {
    width: 100%;
    text-align: justify;
    margin-top: -200px;
}

#about-us-submenu-isi ul {
    font-family: 'Josefin';
    color: #fff;
    width: 256px;
}

#about-us-submenu-isi img {
    float: left;
}

#isi1 {
    z-index: 2;
}

#isi2 {
    display: none;
    z-index: 3;
}

#isi3 {
    display: none;
    z-index: 4;
}

#isi4 {
    display: none;
    z-index: 5;
}

#isi5 {
    display: none;
    z-index: 6;
}
/*=== about-us end ===*/

/*=== WHATWEDO ===*/
.whatwedo {
    padding: 40px 0;
}
.whatwedo > p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 14pt;
}
#whatwedo-slide {
    position: relative;
}
.whatwedo-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    height: 290px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.whatwedo-item:hover {
    border: 1px solid #ccc;
}
.whatwedo-item > img {
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.whatwedo-item h3 {
    font-family: 'Futura-Condensed';
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-size: 18pt;
}
.whatwedo-item h3:before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #ccc;
    left: 50%;
    margin-top: -8px;
    margin-left: -20px;
    position: absolute;
    border-radius: 2px;
}
.whatwedo-item p {
    text-align: center;
    padding: 0 10px;
    font-size: 10pt;
}
.whatwedo-next,
.whatwedo-prev {
    position: absolute;
    margin-top: -190px;
    height: 50px;
    width: 40px;
    cursor: pointer;
    background-color: #b5b5b5;
    opacity: 0.5;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.whatwedo-next:hover,
.whatwedo-prev:hover {
    opacity: 1;
}
.whatwedo-next i,
.whatwedo-prev i {
    display: block;
    line-height: 50px;
    width: 40px;
    color: #fff;
    text-align: center;
    font-size: 28pt;
}
.whatwedo-next {
    right: 0;
    transform: translateX(40px);
}
.whatwedo-prev {
    left: 0;
    transform: translateX(-40px);
}
.whatwedo:hover .whatwedo-prev,
.whatwedo:hover .whatwedo-next {
    transform: translateX(0);
}
@media (max-width: 980px) {
    .whatwedo .whatwedo-prev,
    .whatwedo .whatwedo-next {
        transform: translateX(0);
    }
    .whatwedo-item:hover {
        border: 1px solid transparent;
    }
}
.whatwedo h2 {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    clear: both;
    background-color: #00a6b6;
    color: #fff;
    text-align: center;
    font-size: 16pt;
    line-height: 60px;
    font-family: 'OpenSans-Light';
    border-radius: 10px;
    border-bottom: 4px solid #00839b;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.whatwedo h2:hover {
    background-color: #0096aa;
}
.whatwedo h2 a {
    display: block;
}
@media (max-width: 980px) {
    .whatwedo h2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: -40px;
        line-height: 60px;
        font-family: 'OpenSans-Light';
        border-radius: 0;
        border-bottom: 0;
    }
}
/*=== WHATWEDO end ===*/

/*=== OUR PRODUCT ===*/
.latest-work-title {
    height: 100px;
    background-color: #454753;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: inset 0 5px 5px rgba(0,0,0,0.2);
}
.latest-work-title h1 {
    font-size: 20pt;
    font-family: 'OpenSans-Light';
    margin: 0;
}
.latest-work-title a {
    font-size: 10pt;
    color: #ccc;
}
.latest-work-wrapper {
    height: 200px;
    background-color: #2c2f34;
}
.latest-work-item {
    height: 200px;
    width: 25%;
    float: left;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 990px) {
    .latest-work-wrapper {
        height: 400px;
    }
    .latest-work-item {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .latest-work-wrapper {
        height: 800px;
    }
    .latest-work-item {
        width: 100%;
    }
}
.latest-work-item .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(44,47,52,0.5);
    overflow: auto;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.latest-work-item:hover .overlay {
    background-color: rgba(44,47,52,0.8);
}
.latest-work-item h4 {
    background-color: #fff;
    font-family: 'OpenSans-Light';
    font-size: 12pt;
    line-height: 30px;
    width: 140px;
    margin: 85px auto;
    opacity: 0;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.latest-work-item:hover h4 {
    opacity: 1;
}
.latest-work-item h4 a {
    display: block;
}
/*=== OUR PRODUCT end ===*/

/*=== product page ===*/
.product-nav-wrapper {
    width: 100%;
    height: 120px;
    background-color: #2c3e50;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.product-nav-wrapper-close {
    margin-top: -114px;
}
#product-nav-konten {
    width: 1140px;
    height: 100%;
    margin: auto;
    padding: 10px;
}
#product-nav-head {
    width: 100%;
    height: 20px;
    font-weight: bold;
    font-family: 'OpenSans-Light';
    color: #ef4e9d;
    text-align: center;
}
#product-nav-body {
    height: 80px;
    width: 100%;
}
.product-nav-item {
    width: 100%;
    height: 100%;
    padding: 2px;
    margin-top: 14px;
}
.product-nav-item img {
    height: 55px;
    width: 55px;
    margin: 0 auto;
    display: block;
}
.product-nav-item h4 {
    text-align: center;
    color: #ef4e9d;
    font-family: 'OpenSans-Ligh';
    font-weight: bold;
}
#product-nav-button-wrapper {
    width: 100%;
    position: absolute;
}
.product-nav-button {
    width: 40px;
    height: 20px;
    background-color: #2c3e50;
    margin: auto;
    background-image: url("http://localhost:8080/rebirth/assets/images/up.png");
    background-size: cover;
    background-position: center center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
.product-nav-button-down {
    background-image: url("http://localhost:8080/rebirth/assets/images/down.png");
}
.product-wrapper {
    width: 100%;
    box-shadow: 5px 0px 0px rgba(0,0,0,0.3);
}
.product-outer-wrapper {
    width: 100%;
    overflow-y: auto;
}
.product-outer-wrapper:nth-child(odd){
    background-color: #e0f3f8;
}
.product-konten,
.product-image {
    width: 50%;
    padding: 40px 0;
}
.product-outer-wrapper:nth-child(odd) .product-konten {
    float: right;
    text-align: right;
}
.product-outer-wrapper:nth-child(odd) .product-image {
    float: left;
}
.product-outer-wrapper:nth-child(even) .product-konten {
    float: left;
}
.product-outer-wrapper:nth-child(even) .product-image {
    float: right;
}
.product-outer-wrapper .product-image img {
    max-width: 400px;
    width: 100%;
    margin: 100px auto;
    display: block;
}
.product-outer-wrapper .product-konten h2 {
    font-size: 28pt;
    font-family: 'OpenSans-Light';
    margin-bottom: 20px;
    line-height: 40px;
    margin-top: 100px; 
}
.product-outer-wrapper .product-konten p {
    line-height: 20px;
    height: 100px;
    overflow-y: hidden;
}
@media (max-width: 768px) {
    .product-outer-wrapper {
        height: auto;
        overflow-y: auto;
    }
    .product-konten,
    .product-image {
        float: none;
        width: 100%;
    }
    .product-outer-wrapper .product-konten {
        text-align: center !important;
    }
    .product-outer-wrapper .product-konten h2 {
        margin-top: 0;
    }
    .product-outer-wrapper .product-image img {
        margin: 0 auto;
    }
}
/*=== product page-end ===*/

/*=== clients page ===*/
.clients-wrapper {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 60px;
}
.testi {
    font-family: 'OpenSans-Light';
    text-align: center;
    display: block;
    width: 100%;
    height: 90px;
    background-color: #36a3a8;
    color: #fff;
    line-height: 80px;
    position: relative;

}
.tag-clients {
    display: block;
    width: 100%;
    height: 90px;
    background-color: #b71f4b;
    line-height: 80px;
    position: relative;
    margin-top: -20px;
}
.tag-clients h1 {
    font-family: 'OpenSans-Light';
    text-align: center;
    color: #fff;
}
/*.tag-clients h1::after {
    content: ' ';
    width: 200px;
    height: 7px;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    margin: auto;
    margin-top: 5px;
    -webkit-transition: width 1s;
    transition: width 1s;
}*/
/*.tag-clients h1::before {
    content: ' ';
    width: 200px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    display: block;
    left: 42.5%;
    margin: auto;
    -webkit-transition: width 1s;
    transition: width 1s;
}*/
.tag-clients h1:hover::after {
    width: 400px;
}
.tag-clients h1:hover::before {
    width: 400px;
}
.container-view-clients {
    width: 1140px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}
.container-view-clients ul {
    padding: 0;
    margin-top: 24px;
    z-index: -1;
    overflow: auto;
}
.container-view-clients ul li {
    width: 25%;
    height: 216px;
    float: left;
    margin-right: -1px;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container-view-clients img {
    width: 140px;
    height: 140px;
    margin: auto;
    display: block;
}
.container-view-clients label {
    font-family: 'OpenSans-Regular';
    text-align: center;
    font-size: 10pt;
    display: block;
    color: gray;
}
/*=== clients page-end ===*/

/*=== TESTIMONI ===*/
.testimoni {
    padding: 40px 0 20px;
}
.testimoni-item {
    width: 100%;
    padding-bottom: 20px;
}
.testimoni-item p {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 20px;
    font-family: 'OpenSans-Light';
}
@media (max-width: 480px) {
    .testimoni-item p {
        font-size: 16pt;
    }
}
.testimoni-item h3 {
    text-align: center;
    font-family: 'Futura-Condensed';
    font-size: 16pt;
}
.testimoni-item h5 {
    text-align: center;
}
/*=== TESTIMONI end ===*/

/*=== RECENT BLOG ===*/
.recent-blog {
    padding: 10px 0;
    background-color: #2c2f34;
}
.recent-blog .container {
    overflow-y: auto;
}
.recent-blog .container h1 {
    font-family: 'OpenSans-Light';
    color: #fff;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 20px;
}
.recent-blog-item {
    padding: 0 10px;
    margin-bottom: 30px;
}
.recent-blog-item .blog-image {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center center;
}
.recent-blog-item .blog-image a {
    display: block;
    width: 100%;
    height: 100%;
}
.recent-blog-item h4 {
    color: #fff;
    font-family: 'Futura-Condensed';
    font-size: 14pt;
    padding: 5px 0;
}
.recent-blog-item p {
    color: #ccc;
    font-size: 10pt;
}
/*=== RECENT BLOG end ===*/

/*=== FOOTER ===*/
footer {
    background-color: #2c2f34;
    margin: 0;
    color: #ccc;
    padding: 20px 0;
    border-top: 1px solid #404040;
}
footer > div {
    overflow-y: auto;
}
.footer-logo {
    float: left;
    display: block;
    height: 50px;
    margin-right: 40px;
}
.keepintouch {
    line-height: 50px;
    font-family: 'OpenSans-Regular';
    font-size: 10pt;
    float: left;
}
.keepintouch a {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    font-size: 12pt;
    text-align: center;
}
.keepintouch a:hover {
    color: #fff;
}
.copyright {
    float: right;
    line-height: 15px;
    width: 100px;
    font-size: 10pt;
    padding: 10px 0;
    text-align: right;
}
@media (max-width: 640px) {
    .copyright {
        text-align: center;
        float: none;
        width: 100%;
    }
    .copyright p {
        display: inline-block;
    }
    .footer-logo {
        float: none;
        margin: 0 auto;
    }
    .keepintouch {
        float: none;
        text-align: center;
        line-height: 20px;
        margin-top: 30px;
    }
}
.backtotop {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: -40px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.backtotop.show {
    bottom: 10px;
    opacity: 1;
}
.backtotop i {
    display: block;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 28pt;
    opacity: 0.5;
}
/*=== FOOTER end ===*/

/*=== PORTOFOLIO VIEW page ===*/

.portofolio-wrap {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #ecf0f1;
}
.portofolio-wrap > div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-shadow: inset 0 -5px 10px rgba(44,47,52,0.5);
}
.portofolio-wrap h1 {
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 36pt;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 40px;
    line-height: 60px;
    height: 120px;
}
@media (max-width: 990px) {
    .portofolio-wrap h1 {
        font-size: 28pt;
        line-height: 50px;
        height: 100px;
    }
}
@media (max-width: 480px) {
    .portofolio-wrap h1 {
        font-size: 18pt;
        line-height: 40px;
        height: 80px;
        margin-top: 80px;
        margin-bottom: 160px;
    }
}
.portofolio-wrap h5 {
    color: #fff;
    text-align: center;
    font-family: 'Futura-Condensed';
    font-size: 14pt;
}
.portofolio-wrap h4 {
    text-align: center;
    color: #fff;
    font-size: 14pt;
    font-family: 'OpenSans-Light';
    line-height: 20px;
}

.gallery {
    width: 1140px;
    margin: auto;
}

.filter {
    background-color: #2c2f34;
    margin-bottom: 1em;
    padding: 2em 0 2em 1em;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    text-align: center;
}

    .filter span {
        padding: 0 :; 0 0;
        font-style: italic;
        color: #fff;
    }

    .filter a {
        color: #fff;
        font-size: 1em;
        text-decoration: none;
        margin: 3px 10px;
        background: url('../img/unchecked.png') no-repeat 0px 3px;
    }

    .filter a:hover {
        color: #35a1ab;
        border-bottom: 1px solid #35a1ab;
    }

    .filter a.selected {
        color: #35a1ab;
        background: url('../img/checked.png') no-repeat 0px 3px;
        border-bottom: 1px solid #35a1ab;
    }

.thumbnail_wrap {
    position: relative;
    margin-top: 50px;
}

a.thumbnail {
    position: absolute;
}

a.thumbnail img {
    width: 213px;
    height: 150px;
    background-color: #FCFAE1;
    padding: 2px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

    a.thumbnail img:hover {
        box-shadow: 0px 0px 4px #4C1B1B;
    }

.clear_floats {
    clear: both;
    line-height: 1px;
}

/* Vertical Media Queries */
@media screen and (min-width: 50px) and (max-width: 500px) {
    .gallery {
        width: 100%;
    }

    .filter span {
        display: block;
        margin-bottom: 10px;
    }

    .filter a {
        display: block;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .filter span {
        display: block;
        margin-bottom: 10px;
    }

    .filter a {
        display: block;
        width: 35%;
        float: left;
    }
}

@media screen and (min-width: 961px) {
    .filter span {
        padding-right: 20px;
    }
}


/*=== PORTOFOLIO VIEW page ===*/
.portofolio-landing {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.portofolio-landing > div {
    width: 100%;
    height: 100%;
    background-color: rgba(44,47,52,0.5);
    overflow-y: auto;
    box-shadow: inset 0 -5px 10px rgba(44,47,52,0.5);
}
.portofolio-landing h1.project-title {
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 36pt;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 40px;
    line-height: 60px;
    height: 120px;
}
@media (max-width: 990px) {
    .portofolio-landing h1.project-title {
        font-size: 28pt;
        line-height: 50px;
        height: 100px;
    }
}
@media (max-width: 480px) {
    .portofolio-landing h1.project-title {
        font-size: 18pt;
        line-height: 40px;
        height: 80px;
        margin-top: 80px;
        margin-bottom: 160px;
    }
}
.portofolio-landing h5 {
    color: #fff;
    text-align: center;
    font-family: 'Futura-Condensed';
    font-size: 14pt;
}
.portofolio-landing h4 {
    text-align: center;
    color: #fff;
    font-size: 14pt;
    font-family: 'OpenSans-Light';
    line-height: 20px;
}
.portofolio-landing .project-client {
    margin-bottom: 20px;
}

.client-profile,
.project-story {
    padding: 50px 0 40px;
}
.client-profile .client-logo {
    margin: 0 auto 40px auto;
    max-width: 200px;
    display: block;
}
.client-profile p,
.project-story p {
    margin-bottom: 20px;
}
.project-snapshot {
    width: 100%;
    height: 240px;
    background-color: rgba(44,47,52,1);
    margin-bottom: 20px;
}
.project-snapshot-item {
    height: 240px;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.project-snapshot-item:hover {
    opacity: 1;
}
.make-your-own {
    height: 200px;
    width: 100%;
}
.make-your-own h4 {
    text-align: center;
    margin: 40px auto;
}
/*=== PORTOFOLIO VIEW page end ===*/

/*=== CONTACT page ===*/

#map {
    height: 400px;
    width: 100%;
    background-color:#000;
    margin-bottom: 0;
}

.contact {
    height: 480px;
    width: 100%;
    padding-bottom: 50px;
}

#contact-kiri {
    width: 69%;
    height: calc(100% - 50px);
    display: inline-block;
    border-right: 1px solid #bdc3c7;
    padding-right: 3%;
    margin-top: 50px;
}

#contact-kiri label {
    display:inline;
    padding:.2em .6em .3em;
    font-size:90%;
    font-weight:700;
}

#contact-kanan {
    width: 30%;
    display: inline-block;
    padding-left: 3%;
    margin-top: 50px;
    position: absolute;
}

#contact-kanan h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #bdc3c7;
}

#contact-kanan h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

#contact-kanan p {
    margin-bottom: 20px;
}

#contact-kanan img {
    width: 50px;
    height: 50px;
}

.social {
    position:relative;
    overflow:hidden;
    width:50px;
    height:50px;
    display: inline-block;
    margin-right: 10px;
}

.social .socialbox img{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    margin-top:-50px;
}

.social:hover .socialbox img{
    margin-top:0;
}

.social img {
    margin-top:0;
}

.social:hover img {
    margin-top:50px;
}

.social img, .socialbox {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#form input[type='text'], textarea {
    width: 100%;
    background-color: rgba(0,0,0,.1);
    border: 1px solid #bdc3c7;
    line-height: 30px;
    padding: 0 10px;
    font-size: 11pt;
    margin-bottom: 12px;
    margin-top: 5px;
}

#form textarea {
    resize: none;
    height: 100px;
}

#form input[type='submit'] {
    background-color: #39c4c7;
    border: 1px solid #bdc3c7;
    height: 35px;
    line-height: 33px;
    font-size: 12pt;
    width: 100px;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#form input[type='submit']:hover {
    background-color: #2b787b;
}


/*=== CONTACT page END ===*/

/*== BLOG page ===*/
h1.page-title {
    width: 100%;
    line-height: 80px;
    color: #fff;
    background-color: #454753;
    font-family: 'OpenSans-Bold';
    text-align: center;
    font-size: 24pt;
    margin: 0;
}
.blog-wrap {
    padding: 40px 0 0;
    overflow-y: auto;
}
.blog-container {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 50%;
    height: 250px;
    position: relative;
}
.blog-container:nth-child(odd) {
    float: left;
}
.blog-container:nth-child(even) {
    float: right;
}
@media (max-width: 768px) {
    .blog-container {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
}
.blog-container .blog-image {
    width: 35%;
    height: 250px;
    background-size: cover;
    background-position: left center;
    margin-bottom: 10px;
    float: left;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.blog-container:hover .blog-image {
    background-position: center center;
}
.blog-container .blog-detail {
    width: 65%;
    height: 250px;
    right: 15px;
    float: right;
    background-color: #454753;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.blog-container:hover .blog-detail {
    background-color: #2c2f34;
}
.blog-container h3.blog-title {
    font-family: 'Futura-Condensed';
    font-size: 18pt;
    color: #fff;
    line-height: 25px;
    height: 60px;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}
.blog-container h5.post-date {
    padding: 0 10px;
    color: #fd6041;
    font-size: 9pt;
    line-height: 15px;
    margin-top: 10px;
}
.blog-container p.blog-summary {
    padding: 10px;
    font-size: 10pt;
    color: #ccc;
    height: 115px;
    overflow: hidden;
    text-align: left;
    line-height: 17px;
}
.blog-container a.readmore {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    margin: 10px;
    background-color: #35a1ab;
    color: #fff;
    line-height: 30px;
    font-size: 10pt;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.blog-container a.readmore i {
    display: block;
    width: 10px;
    text-align: 10px;
    line-height: 30px;
    right: 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.blog-container a.readmore:hover {
    padding: 0 30px 0 10px;
}
.blog-container a.readmore:hover i {
    right: 10px;
    opacity: 1;
}
.paging {
    text-align: center;
    clear: both;
    margin: 0 auto 40px;
}
.paging a {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 14pt;
    color: #999;
}
.paging a:not(.active):hover {
    color: #444;
}
.paging a.active {
    border: 1px solid #35a1ab;
    line-height: 28px;
    color: #444;
}
/*== BLOG page end ===*/

/*=== BLOG VIEW page ===*/
.featured-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.featured-image .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: -moz-linear-gradient(top,  rgba(44,47,52,0.5) 0%, rgba(44,47,52,0.5) 65%, rgba(44,47,52,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,47,52,0.5)), color-stop(65%,rgba(44,47,52,0.5)), color-stop(100%,rgba(44,47,52,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(44,47,52,0.5) 0%,rgba(44,47,52,0.5) 65%,rgba(44,47,52,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(44,47,52,0.5) 0%,rgba(44,47,52,0.5) 65%,rgba(44,47,52,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(44,47,52,0.5) 0%,rgba(44,47,52,0.5) 65%,rgba(44,47,52,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(44,47,52,0.5) 0%,rgba(44,47,52,0.5) 65%,rgba(44,47,52,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#802c2f34', endColorstr='#e62c2f34',GradientType=0 ); /* IE6-9 */
}
.featured-image .post-info {
    width: 100%;
    position: absolute;
    bottom: 40px;
}
.featured-image .post-info h2.title {
    color: #fff;
    font-size: 28pt;
    font-family: 'OpenSans-Bold';
    line-height: 40px;
    margin-bottom: 10px;
}
.featured-image .post-detail {
    color: #fff;
    font-size: 12pt;
    font-family: 'OpenSans-Light';
}
.featured-image .post-date {
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #fff;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .featured-image .post-info h2.title {
        font-size: 18pt;
        line-height: normal;
    }
    .featured-image .post-detail {
        font-size: 10pt;
    }
}
.blog-content {
    padding: 40px 0;
}
.blog-content p {
    margin-bottom: 20px;
}
.blog-content img.float-left {
    max-width: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.blog-content img.float-right {
    max-width: 50%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
.blog-content img.full-block {
    width: 100%;
    margin: 0 0 20px;
}
@media (max-width: 480px) {
    .blog-content img.float-left,
    .blog-content img.float-right {
        width: 100%;
        max-width: 100%;
        margin: 0 0 20px;
    }
}